<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DMS</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/YouFoundOne.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ChangeUserProject</display-name>
    <servlet-name>ChangeUserProject</servlet-name>
    <servlet-class>servlets.users.ChangeUserProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserProject</servlet-name>
    <url-pattern>/ChangeUserProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLUpdateQuery</display-name>
    <servlet-name>SQLUpdateQuery</servlet-name>
    <servlet-class>defaults.SQLUpdateQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLUpdateQuery</servlet-name>
    <url-pattern>/SQLUpdateQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLInsertQuery</display-name>
    <servlet-name>SQLInsertQuery</servlet-name>
    <servlet-class>defaults.SQLInsertQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLInsertQuery</servlet-name>
    <url-pattern>/SQLInsertQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLSelectQuery</display-name>
    <servlet-name>SQLSelectQuery</servlet-name>
    <servlet-class>defaults.SQLSelectQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLSelectQuery</servlet-name>
    <url-pattern>/SQLSelectQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlets.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>servlets.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectAdd</display-name>
    <servlet-name>ProjectAdd</servlet-name>
    <servlet-class>servlets.admin.ProjectAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectAdd</servlet-name>
    <url-pattern>/ProjectAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectList</display-name>
    <servlet-name>ProjectList</servlet-name>
    <servlet-class>servlets.admin.ProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectList</servlet-name>
    <url-pattern>/ProjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectListFilter</display-name>
    <servlet-name>ProjectListFilter</servlet-name>
    <servlet-class>servlets.users.ProjectListFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectListFilter</servlet-name>
    <url-pattern>/ProjectListFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectUpdate</display-name>
    <servlet-name>ProjectUpdate</servlet-name>
    <servlet-class>servlets.admin.ProjectUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpdate</servlet-name>
    <url-pattern>/ProjectUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNumberOfUsers</display-name>
    <servlet-name>GetNumberOfUsers</servlet-name>
    <servlet-class>servlets.admin.users.GetNumberOfUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNumberOfUsers</servlet-name>
    <url-pattern>/GetNumberOfUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNumberOfQueries</display-name>
    <servlet-name>GetNumberOfQueries</servlet-name>
    <servlet-class>servlets.admin.query.GetNumberOfQueries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNumberOfQueries</servlet-name>
    <url-pattern>/GetNumberOfQueries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamAdd</display-name>
    <servlet-name>TeamAdd</servlet-name>
    <servlet-class>servlets.admin.team.TeamAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamAdd</servlet-name>
    <url-pattern>/TeamAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamUpdate</display-name>
    <servlet-name>TeamUpdate</servlet-name>
    <servlet-class>servlets.admin.team.TeamUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamUpdate</servlet-name>
    <url-pattern>/TeamUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamList</display-name>
    <servlet-name>TeamList</servlet-name>
    <servlet-class>servlets.admin.team.TeamList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamList</servlet-name>
    <url-pattern>/TeamList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMemberById</display-name>
    <servlet-name>GetMemberById</servlet-name>
    <servlet-class>servlets.admin.team.GetMemberById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMemberById</servlet-name>
    <url-pattern>/GetMemberById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log404Errors</display-name>
    <servlet-name>Log404Errors</servlet-name>
    <servlet-class>servlets.admin.Log404Errors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log404Errors</servlet-name>
    <url-pattern>/Log404Errors</url-pattern>
  </servlet-mapping>
</web-app>